.footer-links {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.foot-link {
  list-style: none;
}

.footer {
  background-color: #002659;
  color: white;
  padding: 40px;
}

.light-text,
.light-text span a,
small {
  color: rgba(255, 255, 255, 0.45);
}

.contact {
  display: flex;
  flex-direction: column;
}